:root {
  font-size:
  80%
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-bottom:0 ;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgb(70, 18, 67) 0%, rgb(182, 15, 224) 63%);
  }

  header {
    
    background-color:rgb(255, 4, 222); 
  }

  
  .timer {
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    line-height: 10px;
    margin-left: 5px;
  }


  .quiz-container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 80rem;
      margin: 0 auto;
    }


    #start {
      border: rgb(204, 161, 170) 5px solid; 
      text-align: center;

    }

    .hide {
      display: none;
      
    }


  button {
  background: radial-gradient(circle, rgb(255, 4, 222) 0%, pink 100%);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  line-height: 16px;
  width: 20rem;
  padding: 1rem 0;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
}


#choices {
  border:rgb(70, 18, 67) 5px solid;
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

#question-title {
  border:rgb(70, 18, 67) 5px solid;
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;

}

#result{
  border: #bb80ca 5px solid; border-radius: 10px;
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: pink; font-weight: bold; text-transform:uppercase;
}

li {
  border:rgb(255, 4, 222) dashed 2px; line-height: 20px; letter-spacing: 0.20px;
  cursor: pointer;
  font-size: 1em;
  padding: 20px;
  margin: 8px;
  list-style: none;
  color: #fff;
}

#question-title {
  color: #fff
}


h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1em;
      text-align: center;
  }

  h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
    color:rgb(204, 161, 170);
    line-height: normal;
  }

  .btn {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background: radial-gradient(circle, rgb(255, 4, 222) 0%, pink 100%);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  width: 20rem;
  padding: 1rem 0;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  text-decoration: none; 

  }

  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1rem;
    border: none;
    box-shadow: 0 0.1rem rgb(255, 4, 222);
  }

  #final-result {
    border: #bb80ca 5px solid; border-radius: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    color: pink; font-weight: bold;
    max-width: 80rem;
    margin: 0 auto;
    line-height: 30px;
    font-size: 1rem;
  
  }

  .highScores {
    width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 80rem;
      margin: 0 auto;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
  }
























/* * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgb(70, 18, 67) 0%, rgb(182, 15, 224) 63%);
  }

  header {
    background-color:rgb(255, 4, 222); 
    
  }

  
  .timer {
    text-align: right;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    line-height: 10px;
    margin-left: 5px;
  }


  .quiz-container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 80rem;
      margin: 0 auto;
    }

    h2 {
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1em;
      text-align: center;
    }

    #start {
      border: rgb(204, 161, 170) 5px solid; 
      text-align: center;
    }

    .hide {
      display: none;
      
    }


  button {
  background: radial-gradient(circle, rgb(255, 4, 222) 0%, pink 100%);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 0.20px;
  line-height: 16px;
  max-width: 255px;
  padding: 10px 10px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.3em;
}


#choices {
  border:rgb(70, 18, 67) 5px solid;
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

#question-title {
  border:rgb(70, 18, 67) 5px solid;
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;

}

#result{
  border: #bb80ca 5px solid; border-radius: 10px;
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: pink; font-weight: bold; text-transform:uppercase;
}

li {
  border:rgb(255, 4, 222) dashed 2px; line-height: 20px; letter-spacing: 0.20px;
  cursor: pointer;
  font-size: 1em;
  padding: 20px;
  margin: 8px;
  list-style: none;
  color: #fff;
}

#question-title {
  color: #fff
}

#final-result {
  border: #bb80ca 5px solid; border-radius: 10px;
  width: 50%;
  height: auto;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  color: pink; font-weight: bold; 

} */

/* .highScoreContainer {
  border: black solid 10px;
} */